body
{
                                    background-image: url(14748961d5c979e3cdda1b70d766ea6d.jpg);
    background-attachment: fixed;
}
.img
{
    float: left;
    border-radius: 0px 200px 0px 200px;
    width: 300px;
    height: 400px;
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.628);
}
#kkfa
{
    background-color: #b4a8a8;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-radius: 15px 15px 0px 0px;
    color: rgba(255, 252, 252, 0.841);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.559);
}
img
{
    width: 30px;
    height: 30px;
}
.KF
{
    padding-top: 9px;
}
#footer
{
    text-align: end;
    color: rgb(22, 22, 21);
    clear: both;
    display: flex;
    justify-content: space-around;
    background-color: #b4a8a8;
    margin-top: 20px;
    text-decoration: none;
} 
#sec3
{
    border: 1px rgba(225, 225, 225, 0.2) solid;
    border-radius: 20px;
    background: var(--glass);
    backdrop-filter: blur(30px);
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.628);

    text-align: center;
    margin-left: 350px;
    padding-bottom: 315px;
}
#section
{
    border: 1px rgba(225, 225, 225, 0.2) solid;
    border-radius: 20px;
    background: var(--glass);
    backdrop-filter: blur(30px);
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.628);

    text-align: center;
    margin-left: 350px;
    padding-bottom: 625px;
}
#sec4
{
    margin-top: 0px;
    font-size: 60px;
    color: rgba(255, 252, 252, 0.841);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.559);

}
h3
{
    text-shadow: 2px 2px 2px black;
    margin-bottom: 0px;
    font-size: 30px;
    background-color: #b4a8a8;
    color: white;
}
.p
{

    margin: 0px;
    padding: 10px;
}
#div1
{
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left;
    background-color: #b4a8a8;
    border-radius: 0px 200px 0px 0px;
}
.link
{
    margin-left: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-top: 30px;
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 20px;
}
.p3
{
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 10px black;
}



.contenant
{
    overflow: hidden;
    white-space: nowrap;
    background: #333;
    color: white;
    padding: 10px 0;
}
.texte-defilant
{
    display: inline-block;
    padding-left: 100%;
}