body
{
    background-image: url(14748961d5c979e3cdda1b70d766ea6d.jpg);
    background-attachment: fixed;
}
#kkfa
{
    background-color: #b4a8a8;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-radius: 15px 15px 0px 0px;
    color: rgba(255, 252, 252, 0.841);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.559);
}
#img
{
    float: left;
    border-radius: 0px 200px 0px 200px;
    width: 400px;
    height: 400px;
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.628);
}
img
{
    width: 30px;
    height: 30px;
}
.KF
{
    padding-top: 9px;
}
#principal
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    background: radial-gradient(at 0% 0%, #dfb291 50px, transparent 50%),
                radial-gradient(at 100% 100%, #704a57 50px, transparent 50%),
                radial-gradient(at 50% 50%, #b5607a 50px, transparent 50%);
    background-attachment: fixed;
    background-size: cover;
}
#section
{
    border: 1px rgba(225, 225, 225, 0.2) solid;
    border-radius: 20px;
    background: var(--glass);
    backdrop-filter: blur(30px);
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.628);


    width: 550px;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 420px;
}
#ap
{
    padding: 15px;
    border-radius: 30px;
    background-color: #b4a8a8;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
#ps
{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px ;
    padding-right: 30px;
    border-radius: 30px;
    background-color: #e7e6e6;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
#footer
{
    text-align: end;
    color: rgb(22, 22, 21);
    clear: both;
    display: flex;
    justify-content: space-around;
    background-color: #b4a8a8;
    margin-top: 10px;
    text-decoration: none;
} 
.bv
{
    text-align: center;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 252, 252, 0.841);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.559);
}
#sec1
{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    padding-bottom: 10px;
    padding-top: 05px;
}
.p1
{
    text-align: center;
    padding-top: 0px;
    margin: 0px;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 0.5px black;
    color: white;
}
.p2
{
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    text-shadow: 0.5px 0.5px 0.5px black;
}
.p3
{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.559);
}



<!---------------------------------------------------------- CSS -------------------------------------------------------------->
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); /* récupère une Typographie depuis google font :
https://fonts.google.com/
*/

/* Site pour choisir une couleur en hexadécimal :
https://htmlcolorcodes.com/fr/selecteur-de-couleur/
*/

.conteneur, .messagedefilant {
  --Typo:'Oswald', sans-serif; /* Typographie depuis google font */
  --Typo_Taille_Bold: 30pt; /* Taille de la typographie Bold*/
  --Typo_Taille_Light: 30pt; /* Taille de la typographie Light*/
  --Typo_Couleur : white; /* Couleur de la typographie*/
  --Typo_Bold: 500; /* graisse du Bold */
  --Typo_Light: 200; /* graisse du Light */
  --Vitesse: 20s; /* Vitesse de défillement */
  --Couleur_de_fond: lightseagreen;/* choisir la couleur de fond */
	margin: 0px;
	height:100%;
	width:100%;
  overflow: hidden;
}

.Conteneur{
  position: relative;
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction:column;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
	background-color: var(--Couleur_de_fond); 
}

/* Texte défilant */
.messagedefilant {
	margin: auto;
	display: inline-block;
  	width: 100%;
/* Style de texte */
  	font-family: var(--Typo);
  	font-size: var(--Typo_Taille_Bold);
  	color: var(--Typo_Couleur);
}

b{ font-weight: var(--Typo_Bold) }

i{
  font-size: var(--Typo_Taille_Light);
	font-style: normal; /* enlève l'italic de la balise i */
	font-weight: var(--Typo_Light); 
}

a{ text-decoration: none;  /* enlève les underline que pourrais provoqué la balise a */ }
	
.messagedefilant div {
  position: absolute;
  transform: translateY(-50%);
  min-width: 100%;
}

.messagedefilant div span {
  left:0;
}
	
/* Animation */
.messagedefilant div span:first-child {
  animation: defilement var(--Vitesse) infinite linear; /* Vitesse de défillement !!! les 2 vitesses doivent être identique !!! */
}
 
.messagedefilant div span:last-child {
  position: absolute;
  animation: defilement2 var(--Vitesse) infinite linear; /* Vitesse de défillement !!! les 2 vitesses doivent être identique !!! */
}
 
@keyframes defilement {
  0% { margin-left: 0; }
  100% { margin-left: -100%; }
}
 
@keyframes defilement2 {
  0% { margin-left: 100%; }
  100% { margin-left: 0%; }
}
</style>
